figcaption {
  display:none; 
  transition: all .5s;
}
/* Visible texto */
figure:hover > figcaption {
  display:block;
  margin-top:-15px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13.5px;
  color: #6A8A7C;
  transition: all .5s;
}

.pagoinfo{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color:#6A8A7C;
}